<%= Survey.count %>
<h1>Sorry!</h1>
<p>Looks like, for some reason, that page didn't work out quite right. Please get in contact with the person that provided you this link to try to resolve what happened here.</p>